* {
  box-sizing: border-box;
}

body {
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc 100%);
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc 100%);
  background: linear-gradient(to bottom, #ffffff, #dcdcdc 100%);
  background-size: cover;
}

h1, h2 {
  color: white;
  line-height: 1.2;
  margin: 0 0 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
h1 b, h2 b {
  color: #1565C0;
  text-shadow: 0px 1px 5px #CCC;
  font-family: 'Lato';
}

h1 {
  font-family: 'Pirata One', cursive;
  font-size: 3rem;
}

.piano-keys-icon {
  text-align: center;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  transition: all 0.45s ease-out;
  height: 64px;
  padding: 5px;
}

.piano-keys-icon:hover {
  background-color: white;
  transition: all 0.45s ease-out;
  color: #1565C0;
  cursor: pointer;
}

.piano-container {
  margin: 30px auto;
  text-align: center;
  width: 75%;
  overflow: hidden;
}

.header {
  margin-top: 30px;
  margin-bottom: 100px
}

.loading:before {
  content: "Loading";
  font-size: 2rem;
  position: absolute;
  bottom: 100%;
  left: -100%;
}

.loading {
  background: url(assets/loading.gif) no-repeat;
  background-position: center center;
  position: absolute;
  left: 50%;
  top: 30%;
  width: 32px;
  height: 32px;
  background-color: #CFCFCF;
  border-radius: 50%;
}

.pianos-container {
  margin: 0 auto;
}

.piano-layer{
  display: inline-block;
  margin: 0 25px;
}

.scale {
  position: relative;
  padding: 0;
  margin: 0 0 10px;
  display: inline-block;
  font-size: 0;
}

.scale-key {
  /*content: "a";*/
  position: absolute;
  top: -25px;
  left: 40%;
  color: black;
}

.key-sharp {
  top: -20px;
  left: 30%;
}

.scale > li {
  font-size: 16px;
  font-size: 1rem;
  background: -moz-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #faf0e6);
  background: -webkit-linear-gradient(top, #c0c1bd, #f0f0f0 10%, #faf0e6);
  background: linear-gradient(to bottom, #c0c1bd, #f0f0f0 10%, #faf0e6);
  transition: all 0.1s ease-in-out;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 220px 15px 50px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px #aaa;
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: transparent;
}
.scale > li:hover {
  color: #C0C1BD;
}
.scale > li:active {
  box-shadow: none;
  top: 5px;
  color: #333;
}
li.black-keys {
  /* build the key shape */
  z-index: 2;
  position: absolute;
  width: 32px;
  top: 0px;
  margin-left: -16px;
  padding: 130px 0px 10px;
  /* Typography */
  text-align: center;
  font-size: 0.66667rem;
  color: transparent;
  border-radius: 0 0 2px 2px;
  border-width: 0 6px 12px;
  border-color: #000;
  border-bottom-color: #424546;
  background: #171C1A;
  background: -moz-linear-gradient(#5f6265, #151b19 25%, #171c1a);
  background: -webkit-linear-gradient(#5f6265, #151b19 25%, #171c1a);
  background: linear-gradient(#5f6265, #151b19 25%, #171c1a);
  box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(220, 220, 220, 0.2);
}
.scale > li.black-keys:hover {
  color: gainsboro;
}
.scale > li.black-keys:active {
  background: -moz-linear-gradient(#5f6265, #151b19 50%, #171c1a);
  background: -webkit-linear-gradient(#5f6265, #151b19 50%, #171c1a);
  background: linear-gradient(#5f6265, #151b19 50%, #171c1a);
  border-bottom-width: 8px;
  padding-top: 135px;
  color: white;
}

.played {
  box-shadow: none;
  top: 5px;
  color: #333;
  position: absolute;
  top: 85%;
  left: 25%;
  text-transform: uppercase;
}

.sharp {
  color: white;
  top: 55%;
  left: 0;
}

.notes-area {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  font-family: 'Lato';
  border: 1px solid #1565C0;
  line-height: 1.7;
}

.scale > li.temp-active {
  box-shadow: none;
  top: 5px;
  color: #333;
  transition: all 0.25s ease-in-out;
}

.scale > li.temp-active-sharp {
  background: -moz-linear-gradient(#5f6265, #151b19 50%, #171c1a);
  background: -webkit-linear-gradient(#5f6265, #151b19 50%, #171c1a);
  background: linear-gradient(#5f6265, #151b19 50%, #171c1a);
  border-bottom-width: 8px;
  padding-top: 135px;
  color: white;
}

/*max-width = 475px*/

@media (max-width: 475px) {
  .scale > li {
    padding: 110px 8px 25px;
  }

  li.black-keys {
    padding: 50px 0px 5px;
  }

  .scale > li.black-keys:active {
    padding-top: 60px;
  }

  .played {
    font-size: .8em;
  }

 .sharp {
   color: white;
   top: 45%;
   left: 0;
 }

 .notes-area {
  /*width: 75%;*/
 }
}

@media (max-width: 325px) {
  .scale > li {
    padding: 83px 6px 19px;
  }

  li.black-keys {
    padding: 38px 0px 4px;
  }

  .scale > li.black-keys:active {
    padding-top: 45px;
  }

  .played {
    font-size: .6em;
  }

 .sharp {
   color: white;
   top: 34%;
   left: 12%;
 }

 .notes-area {
  /*width: 75%;*/
 }
}
